:root {
  --beige: #e3d3ac;
  --light-beige: #fef6e1;
  --yellow: #f19832;
  --maroon: #ef571d;
  --blue: #40cce4;
  --whitish: #fffeff;
  --dark-brown: #3a322d;
}

* {
  color: var(--dark-brown);
  font-family: Poppins, sans-serif;
}

#root {
  margin: auto;
  width: 80vw;
  max-width: 600px;
  height: 30%;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--beige);
}

p {
  margin: 0;
}

.main-title {
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: -0.5rem;
}

.main-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-bar {
  height: 50px;
  border-radius: 2rem 2rem 0 0;
  border: 2px solid var(--dark-brown);
  background-color: var(--maroon);
}

.main-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid var(--dark-brown);
  border-top: none;
  border-radius: 0 0 2rem 2rem;
  background-color: var(--light-beige);
  padding: 2rem;
}

.bar-buttons {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  height: 100%;
}

.bar-button {
  border: 2px solid var(--dark-brown);
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;
  margin-left: 0.25rem;
  background-color: var(--yellow);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 1rem;
}

.buttons button {
  border: none;
  font-size: 1rem;
  border: 2px solid var(--dark-brown);
  height: 50%;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.button-increase {
  background-color: var(--blue);
}

.button-decrease {
  background-color: var(--maroon);
}

.main-text {
  width: 50%;
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--whitish);
  border: 2px solid var(--dark-brown);
  border-radius: 0.5rem;
  width: 40%;
}

.counter-text {
  text-align: center;
  font-weight: 800;
  font-size: 5rem;
}
